
[jsloadin*=remove] {
    display: none;
    opacity: 0.0;
    width: 0;
    height: 0;
    overflow: hidden;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
body {
    flex-grow: 1;
    margin: 12px;
    display: flex;
    background-color: #333333;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    background-image: url("./images/tasky_pattern.png");
}

.app {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
}
.app .top-bar {
    grid-area: 1/1/1/3;
    background-color: #474747;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.app .top-bar > .left-side {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.app .top-bar > .left-side > * {
    height: fit-content;
    padding: 4px;
}
.app .top-bar > .right-side {
    display: flex;
    gap: 15px;
    align-items: center;
}
.app .top-bar > .right-side > * {
    display: flex;
    align-items: center;
    height: fit-content;
}
.app .logo {
    font-size: x-large;
    font-weight: bold;
}
.app .side-bar {
    display: flex;
    flex-direction: column;
    grid-area: 2/1/2/1;
    background-color: rgb(42, 42, 42);
    overflow: hidden;
}
.app .content-area {
    grid-area: 2/2/2/2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}


.app .input {
    flex-grow: 1;
    height: 20px;
}
.app .input-container {
    display: flex;
    padding: 4px 5px;
}

.app .todo-list {
    flex-direction: column;
    align-content: center;
    scroll-behavior: auto;
    overflow: auto;
    white-space: nowrap;
}
.app .scroll-container {
    position: relative;
    flex-direction: column;
    
    display:flex;
    flex: 1;
    display: flex;
    overflow: hidden;
}
.app .scroll-container > * {
    display: flex;
    overflow-y: scroll;
    min-height: min-content;
}

.app .todo-list-item {
    display: flex;
    text-align: center;
    padding: 2px 2px;
    margin: 2px 4px;
    background-color: #ffffff;
    border: 4px solid #555555dd;
    
}
.app .todo-list-item .icons .button {
    display: flex;
    align-items: center; 
}
.app .todo-list-item .icons {
    display: flex;
    justify-content: end;
    overflow: hidden;
    align-content: center;
    width: fit-content;
}

.app .hidden-wrapper {
    display: flex;
    width: 2px;
}
.app .hidden-wrapper:hover, .app .hidden-wrapper.enabled {
    width: unset;
}

.app .hidden {
    display: none;
}
.app .hidden-wrapper:hover .hidden, .app .hidden-wrapper.enabled .hidden {
    display: flex;
}

.app .unhidden {
    display: flex;
    opacity: 1.0;
}
.app .hidden-wrapper .unhidden.specific {
    display: none;
    opacity: 0.0;
}
.app .hidden-wrapper .unhidden.specific.responsive {
    display: flex;
    opacity: 0.0;
    width: 100%;
}
.app .hidden-wrapper:hover .unhidden.specific.responsive {
    display: none;
    opacity: 0.0;
}
.app .hidden-wrapper:hover .unhidden {
    display: none;
    opacity: 1.0;
}
.app .hidden-wrapper.enabled .unhidden {
    display: flex;
    opacity: 1.0;
}

.app .todo-list-item .icons {
    background-color: rgb(0, 132, 255);
    border-radius: 20px;
    transition: background-color 1s;
}
.app .todo-list-item .icons.hidden-wrapper.enabled, .app .icons.hidden-wrapper:hover {
    background-color: rgb(6, 48, 67, 0.2);
    transition: background-color 1s;
}

.app .todo-list-item .content {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app .todo-list-item .label {
    width: 16ch;
    word-wrap: none;
    line-break: none;
    overflow: hidden;
    height: fit-content;
    font-size: large;
    color: black;
    
}
.app .content-area > .title {
    width: 16ch;
    word-wrap: none;
    line-break: none;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    color: rgba(213, 213, 213, 0.728);
}
.app .todo-item {
    text-align: center;
    margin: 5px 20px;
    padding: 8px 2px;
    background-color: #4aaeff23;
    border: 4px solid #0c1026c8;
    color: rgb(0, 0, 0);
    
    display: flex;
    border-radius: 15px;
}
.app .todo-item .goal {
    flex-grow: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 14%;
    font-weight: bold;
    overflow-x: hidden;
    width: 70ch;
    border-radius: 20px;
    color: rgba(189, 189, 189, 0.843);
}
.app .todo-item .goal.completed {
    text-decoration: line-through;
    color: rgba(224, 224, 224, 0.442);
}
.app .todo-item .checkbox {
    flex-grow: 1;
    display: flex;
}

.app .content-area .action {
    position: absolute;
    right: 32px;
    bottom: 24px;
}

.app .button, .app .button > img {
    border-radius: 50%;
}
.app .button:hover > img {
    border-radius: 50%;
    filter: invert(100%) brightness(800%) invert(200%) brightness(1200%);
}

.app .prevent-select {
    -webkit-user-select: none;
    user-select: none;
}

.app .list-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 2px 2px;
}

.app .list-input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-grow: 2;
}

.app .list-input-button {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 3px;
    background-color: rgb(0, 153, 255);
    color: white;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.app .menu {
    grid-area: 2/1/2/3;
    z-index: 1;

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr;
    
    padding: 1% 2%;
}

.app .menu .menu-area {
    grid-area: 2/1/3/3;
    background-color: #464646a9;
    border: 8px solid rgba(18, 17, 17, 0.674);
    border-radius: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: large;
    align-items: center;
    gap: 20px;
}

.app .menu .menu-area > * {
    display: flex;
    justify-content: center;
    width: 80%;
}

.app .menu .menu-input {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.app .menu .menu-button {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.app .menu-row {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.app .menu-row > * {
    flex-grow: 1;
}